@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/black";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);        /* цвет дорожки */
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid var(--secondary-color);  /* padding вокруг плашки */
}
