.app_theme_black {
    --bg-color: #676464;
    --inverted-bg-color: #2f4878;
    --primary-color: #fff;
    --secondary-color: #000;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #282828;
    --red-light: #ff4949;
    --red-dark: #ffbdbd;

    // skeleton
    --skeleton-color: #64718c;
    --skeleton-shadow: #969696;

    // code
    --code-bg: #a6a6a6;

    // card
    --card-bg: #8d8888;

    // ListBox
    --listbox-bg: #8d8888;
}
