.app_theme_black {
    --bg-color: #545050;
    --inverted-bg-color: #2f4878;
    --primary-color: #fff;
    --secondary-color: #000;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #282828;
    --red-light: #ff4949;
    --red-dark: #ffbdbd;
}
