:root,
.app_theme_light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0b0b54;
    --primary-color: #0232c2;
    --secondary-color: #044def;
    --inverted-primary-color: #1aea1a;
    --inverted-secondary-color: #049604;
}
