:root,
.app_theme_light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0b0b54;
    --primary-color: #0232c2;
    --secondary-color: #044def;
    --inverted-primary-color: #1aea1a;
    --inverted-secondary-color: #049604;

    // skeleton
    --skeleton-color: #a1a1a1;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-bg: #fff;
}
